{{#each mentors}}
  <div class="mentor-card">
    <div class="header">
      <img class="profile_image" src="{{profile_image}}" />
      <div class="info">
        <h4 class="name long"><a class="profile_link" href="{{twitter_url}}">{{full_name}}</a></h4 class="name">
        <div class="bio">{{bio}}</div>
      </div>
    </div>
    <div class="tweet">{{tweet}}</div>
  </div>
{{/each}}
