{{#contentFor 'head'}}
  <style type="text/css">
    .mentor-card {
      background-color: #ffffff;
      padding: 15px;
      margin: 15px;
      box-shadow: 3px 3px 12px #dddddd;
    }

    .mentor-card .header {
      display: grid;
      grid-template-columns: 4rem auto;
      grid-column-gap: 15px;
      margin-bottom: 15px;
    }

    .mentor-card .header .info {
      overflow: hidden; /* need for ellipsis text */
    }

    .mentor-card .header .profile_image {
      width: 100%;
      align-self: center;
      border-radius: 50%;
    }

    .mentor-card .profile_link:hover {
      color: #ff66a5;
    }

    .mentor-card .tweet {
      white-space: pre-wrap;
      line-height: 1.5;
      font-size: 0.9rem;
    }

    .mentor-card .bio {
      color: #a6a6a6;
      font-size: 0.8rem;
    }

    .mentor-card .website_link {
      font-size: 0.85rem;
      color: #20a4f3;
    }

    @media screen and (max-width: 480px) {
      .mentor-card .bio {
        font-size: 0.75rem;
      }
      .mentor-card .header {
        grid-template-columns: 3.5rem auto;
      }
      .mentor-card {
        padding: 10px;
        margin: 10px;
      }
    }
  </style>
{{/contentFor}}

{{#each mentors}}
  <div class="mentor-card">
    <div class="header">
      <img class="profile_image" src="{{profile_image}}" />
      <div class="info">
        <h4 class="name long">
          <a class="profile_link" href="{{twitter_url}}" rel="noopener noreferrer" target="_blank">{{full_name}}</a>
        </h4>
        <div class="bio">{{bio}}</div>
        {{#if website}}
        <div class="website long">
          <a class="website_link" href="{{website}}" rel="noopener noreferrer" target="_blank">{{website}}</a>
        </div>
        {{/if}}
      </div>
    </div>
    <div class="tweet">{{{tweet}}}</div>
  </div>
{{/each}}
